* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-background-color);
    user-select: none;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.main > form > input {
    border: 2px solid var(--primary-text-color);
    border-radius: 15px;
    width: 300px;
    max-width: 300px;
    /* margin-left: -8rem; */
    outline: none;
    color: var(--secondary-text-color);
    padding: 0.5rem;
    /* border-color: white; */
}

input::placeholder {
    color: (--secondary-text-color);
    /* padding: 1rem; */
}

.searchResults {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 300px;
    overflow-y: auto;
    top:60px;
    left:35%;
    row-gap:0.5rem;
    border:1px solid var(--secondary-text-color);
    position: absolute;
}

.search_section
{
    width:inherit;
    max-height:100px;
    display: flex;
    border:1px solid var(--primary-background-color);
}

.search_section:hover{
    border:1px solid var(--secondary-text-color);
    cursor:pointer;
}

.search_section > img
{
    max-width:200px;
    max-height: inherit;
}

.text {
    font-family: "Bebas Neue", cursive;
    color: var(--primary-text-color);
    letter-spacing: .2rem;
    font-size: 2rem;
}

.options a {
    color: var(--primary-text-color);
}

.sunny {
    color: var(--primary-text-color);
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .main {
        /* padding: 0px 0px; */
        flex-direction: column;
        align-items: center;
        row-gap: 0.75rem;
    }

    .options {
        order: -1;
    }

    .search
    {
        margin: 0px 0px;
        left:0;
        top:150px;
    }

}