
.first__section {
    width: 100%;
    padding: 2rem 0.5rem 0.5rem;
    grid-column-gap: 2rem;
    column-gap: 2rem;
    display: flex;
    justify-content: center;
}
 
.movie_poster {
    max-width: 400px;
    max-height: 500px;
}

.movie_poster > img{
    max-width: 400px;
    height: 400px;
    object-fit: contain;
}

.movie_info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
}

.first_line {
    display: flex;
    vertical-align: middle;
}

.first_line > span {
    margin-left: 3rem;
    letter-spacing: 0.2rem;
}

.rating > span{
    vertical-align: middle;
}

.second_line {
    margin: 1rem 0rem;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    font-family: "Nunito","sans-serif";
}

.synopsis {
    margin-top: 2rem;
    text-align: justify;
    font-family: "Nunito","sans-serif";
}

.overview {
    margin-top: 2rem;
    font-family: "Nunito","sans-serif";
    text-align: justify;
}

.third_section > button {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    font-family: "Nunito","sans-serif";
    text-align: center;
    border: 1px solid var(--primary-text-color);
    height: 40px;
    width: 120px;
    cursor: pointer;
}

.fourth_section {
    margin-top: 1rem;
    display: flex;
    margin-left: -0.4rem;
}



.link > h5 {
    vertical-align: middle;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.cast > h3{
    /* display: flex; */
    margin-top: 1rem;
    color: var(--secondary-text-color);
    text-align: center;
    font-family: "Nunito","sans-serif";
}